@font-face {
    font-family: 'Poppins';
    src: url(../public/fonds/Poppins-Light.ttf) format('truetype'),
        url(../public/fonds/Poppins-Medium.ttf) format('truetype'),
        url(../public/fonds/Poppins-Regular.ttf) format('truetype'),
        url(../public/fonds/Poppins-SemiBold.ttf) format('truetype');
    font-family: 'Ambit';
    src: url(../public/fonds/Ambit\ Thin.otf) format('opentype');
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 595px;
    /* width: 100%; */
    /* height: 100vh; */
    padding: 48px 48px 48px 48px;
    margin: auto;
    gap: 40px;
}

.contacs,
.skills,
.portfolio {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    width: 500px;
    height: 147px;
    background-color: rgb(47, 46, 46);
    border-radius: 24px;
    background: var(--balck, radial-gradient(205.3% 154.51% at 91.33% -10.25%, #212225 0%, #1F2025 100%));
    padding: 24px;
    margin: auto;
    gap: 32px;
}

.imgfoto {
    background-image: url(../public/assets/изображение_viber_2023-11-14_19-23-18-762.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 200px;
}

.info h1 {
    color: var(--White, #F5F8FF);
    font: 900 24px Ambit;
}

.info p {
    color: var(--White, #F5F8FF);
    font: 600 12px Poppins;
}

.title,
.content {
    display: flex;
    align-items: flex-start;
    color: var(--White, #F5F8FF);
    font: 900 24px Ambit;
    width: 500px;
    margin-bottom: 16px;
    margin: auto;
}

.work {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding: 24px;
    width: 500px;
    background-color: rgb(47, 46, 46);
    border-radius: 24px;
    background: var(--balck, radial-gradient(205.3% 154.51% at 91.33% -10.25%, #212225 0%, #1F2025 100%));
    margin: auto;
}

.work h2 {
    color: var(--White, #F5F8FF);
    font: 500 16px Poppins;
}

.work p {
    color: var(--White, #F5F8FF);
    font: 500 10px Poppins;
}

.contentBlok {
    gap: 16px;
}

.progress {
    display: flex;
    width: 500px;
    height: 147px;
    margin: auto;
    gap: 16px;
}

.education,
.language {
    border-radius: 24px;
    background: var(--balck, radial-gradient(205.3% 154.51% at 91.33% -10.25%, #212225 0%, #1F2025 100%));
    width: 246px;
    height: 140px;
    padding: 24px;
}