@font-face {
    font-family: 'Poppins';
    src: url(../public/fonds/Poppins-Light.ttf) format('truetype'),
        url(../public/fonds/Poppins-Medium.ttf) format('truetype'),
        url(../public/fonds/Poppins-Regular.ttf) format('truetype'),
        url(../public/fonds/Poppins-SemiBold.ttf) format('truetype');
    font-family: 'Ambit';
    src: url(../public/fonds/Ambit\ Thin.otf) format('opentype');
}

/* * {
    font-family: 'Poppins';
    font-family: 'Ambit';
} */

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 595px;
    padding: 40px;
    margin: auto;
}

.contacs {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    width: 500px;
    height: 150px;
    background-color: rgb(47, 46, 46);
    border-radius: 24px;
    background: var(--balck, radial-gradient(205.3% 154.51% at 91.33% -10.25%, #212225 0%, #1F2025 100%));
    padding: 24px;
    margin: auto;
    gap: 32px;
    margin-top: 16px;
}

.imgfoto {
    background-image: url(../public/assets/изображение_viber_2023-11-14_19-23-18-762.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 200px;
    border-radius: 10%;
}

.info h1 {
    color: var(--White, #F5F8FF);
    font: 900 24px Ambit;
    margin-bottom: 10px;
}

.info p {
    color: var(--White, #F5F8FF);
    font: 600 12px Poppins;
    margin-bottom: 8px;
}

.title,
.content {
    color: var(--White, #F5F8FF);
    font: 900 24px Ambit;
    text-transform: uppercase;
    width: 500px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 16px;
}

.work {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding: 24px;
    width: 500px;
    background-color: rgb(47, 46, 46);
    border-radius: 24px;
    background: var(--balck, radial-gradient(205.3% 154.51% at 91.33% -10.25%, #212225 0%, #1F2025 100%));
    margin: auto;
    margin-top: 16px;
}

.workelem h2 {
    color: var(--White, #F5F8FF);
    font: 500 16px Poppins;
}

.skillsblok {
    display: flex;
    justify-content: space-around;
    width: 500px;
    background-color: rgb(47, 46, 46);
    border-radius: 24px;
    background: var(--balck, radial-gradient(205.3% 154.51% at 91.33% -10.25%, #212225 0%, #1F2025 100%));
    padding: 24px;
    margin: auto;
}


.workelem p {
    color: var(--White, #F5F8FF);
    font: 500 10px Poppins;
}

.block p {
    color: var(--White, #F5F8FF);
    font: 400 12px Poppins;
}

.progress {
    display: flex;
    align-items: flex-start;
    width: 550px;
    height: 147px;
    margin: auto;
    gap: 16px;
}

.imglogo1 {
    background-image: url(../public/assets/Icon1.svg);
    background-repeat: no-repeat;   
    width: 120px;
    height: 120px;
}

.imglogo2 {
    background-image: url(../public/assets/Icon2.svg);
    background-repeat: no-repeat;  
    width: 32px;
    height: 32px;
}

.education,
.language {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    width: 246px ;
    height: 160px;
    background-color: rgb(47, 46, 46);
    border-radius: 24px;
    background: var(--balck, radial-gradient(205.3% 154.51% at 91.33% -10.25%, #212225 0%, #1F2025 100%));
    padding: 24px;
    margin: auto;
    margin-top: 16px;
    gap: 16px;
}

.list p {
    color: var(--White, #F5F8FF);
    font: 400 12px Poppins;
}

.portfolio {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    width: 500px;
    background-color: rgb(47, 46, 46);
    border-radius: 24px;
    background: var(--balck, radial-gradient(205.3% 154.51% at 91.33% -10.25%, #212225 0%, #1F2025 100%));
    padding: 24px;
    margin: auto;
    margin-top: 90px;
    gap: 24px;
}

.imgqr {
    background-image: url(../public/assets/qr.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 74px;
    height: 74px;
}

.navig {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navig h1 {
    color: var(--White, #F5F8FF);
    font: 600 14px Poppins;
    text-transform: uppercase;
}

.navig a {
    color: var(--gray, #C2C2C2);
    font: 300 12px Poppins;
}